body {
  background-color: #1f1f1f !important;
}

/* ----------------------------------------- */
/* Head */
/* ----------------------------------------- */
.game_animation .slide-menu-set .slide-menu-ani.ani_slide_hide {
  -webkit-transform: translateY(-57px);
  transform: translateY(-57px);
}

.game_animation .slide-menu-set .slide-menu-ani {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 5200;
  -webkit-transition: -webkit-transform 0.25s
    cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.slide-menu-set {
  letter-spacing: -0.3px;
}

.slide-menu-set.slide-menu-set-fixed.fix_on {
  top: 0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.slide-menu-set.slide-menu-set-fixed {
  position: fixed;
  top: -80px;
  left: 0;
  right: 0;
  height: 44px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  z-index: 9999;
}

.slide-menu-set .slide-menu > div {
  /* background: #2b2b2b; */
  background: rgba(43, 43, 43, 0.96);
}

.slide-menu-set .slide-menu {
  font-size: 16px;
  line-height: 18px;
}

.slide-menu-set .slide-menu .header_gnb {
  position: relative;
  height: 56px;
  margin-bottom: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}

.slide-menu-set .slide-menu .header_gnb .tit_area {
  text-align: center;
  vertical-align: middle;
}

.slide-menu-set .slide-menu .header_gnb .tit_area .img_logo {
  margin-top: 2px;
}

.slide-menu-set .slide-menu .header_gnb .tit_area .img_beta {
  position: relative;
  top: -42px;
  right: -59px;
  width: 35px;
  height: 13px;
}

.slide-menu-set .slide-menu .header_gnb .tit_area .txt_log {
  overflow: hidden;
  font-size: 20px;
  line-height: 54px;
  color: #fff;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.slide-menu-set .slide-menu .header_gnb .tit_area .tit {
  overflow: hidden;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 왼쪽 게임 정보 */
.header_gnb .tit_gamearth {
  height: 56px;
}

.header_gnb .tit_gamearth .ico_game {
  display: block;
  float: left;
  height: 28px;
  margin: 14px 9px 0px 14px;
  border-radius: 20%;
}

.header_gnb .tit_gamearth .txt_gamename {
  left: 20px;
  overflow: hidden;
  height: 56px;
  line-height: 56px;
  font-size: 16px;
  font-weight: normal;
  font-family: "Montserrat-Medium", sans-serif;
  color: #666;
}

/* ----------------------------------------- */
/* 메인 네비게이션 */
/* ----------------------------------------- */
.slide-menu-set .slide-menu .header_gnb .tit_area .sub {
  display: block;
  overflow: hidden;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.slide-menu-set .slide-menu .header_lnb {
  overflow: hidden;
  position: relative;
  height: 45px;
  margin-top: -1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 700;
}

.slide-menu-set .slide-menu .header_lnb .list_lnb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -ms-flex-pack: space-around;
}

.slide-menu-set .slide-menu .header_lnb .list_lnb li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
}

.slide-menu-set .slide-menu .header_lnb .list_lnb .tab {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  line-height: 46px;
  text-align: center;
}

.slide-menu-set .bx[aria-selected="true"] .tab {
  color: #fff;
}

.slide-menu-set .bx[aria-selected="true"] .tab .menu {
  border-bottom: 2px solid #fff;
}

.slide-menu-set .slide-menu .header_lnb .list_lnb .tab .menu {
  display: inline-block;
  position: relative;
  height: 45px;
  padding: 0 5px;
  box-sizing: border-box;
  font-family: "Montserrat-Medium", sans-serif;
}

/* ----------------------------------------- */
/* banner */
/* ----------------------------------------- */
.gc__youtube {
  overflow: hidden;
  box-sizing: border-box;
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  margin-top: 0px;
  border-top: 0px solid #1f1f1f;
  overflow: hidden;
  position: relative;
  height: 180px;
  background-color: #000;
  text-align: center;
  margin: 27px 25px 0 25px;
  border-radius: 10px;
}

/* ----------------------------------------- */
/* game info */
/* ----------------------------------------- */
.gc__info {
  padding: 27px 25px 23px 25px;
}

.gc__info .game_list_wrap {
  padding: 14px 0px 8px 0px;
}

.gc__info .game_list {
  padding: 0 15px;
}

.gc__info .game_la {
  display: block;
  position: relative;
}

.gc__info .gc__info-game-set {
  position: relative;
  width: 100%;
  width: 100%;
}

.gc__info .gc__info-game-wrap {
  width: 70px;
  height: 70px;
}

.gc__info .gc__info-game-wrap img {
  border-radius: 12px;
}

.gc__info .game_mw::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.gc__info .gc__info-game-info {
  position: absolute;
  top: 2px;
  left: 95px;
  width: 100%;
}

.gc__info .game_ts {
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  font-family: "Montserrat-Medium", sans-serif;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: normal;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.gc__info .game_o {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0px;
  font-size: 14px;
  line-height: 28px;
  vertical-align: 0;
  letter-spacing: -1px;
  color: #666;
}

.gc__info .game_etc {
  padding-left: 0px;
}

/* ----------------------------------------- */
/* download */
/* ----------------------------------------- */
.gc__download .gc__download-ul {
  overflow: hidden;
  padding-top: 16px;
}

.gc__download .right {
  overflow: hidden;
  float: right;
  width: 110px;
  height: 33px;
  border: 1px solid #31bf63;
  background: #31bf63;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 0 5px 5px 0;
}

.gc__download .left {
  overflow: hidden;
  float: right;
  width: 110px;
  height: 33px;
  border: 1px solid #31bf63;
  background: #31bf63;
  border-right: 1px solid #009836 !important;
  border-right: 0px;
  box-sizing: border-box;
  vertical-align: top;
  border-radius: 5px 0 0 5px;
}

.gc__download .link {
  display: block;
  font-size: 13px;
  line-height: 31px;
  color: #000;
  font-family: "Montserrat-Medium", sans-serif;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gc__download .gc__download-ul.coming-soon li {
  text-align: center;
  color: #00ff72;
  padding-top: 9px;
}

/* ----------------------------------------- */
/* keyword */
/* ----------------------------------------- */
.gc__keyword-group {
  overflow: hidden;
  margin: 7px 0 20px 0;
}

.gc__keyword-group .gc__keyword-wrap {
  padding: 0 25px 13px 25px;
}

.gc__keyword-group .gc__keyword-ul {
  font-size: 0;
  text-align: center;
}

.gc__keyword-group .list {
  display: inline-block;
  height: 30px;
  padding: 6px 2.5px;
  vertical-align: top;
}

.gc__keyword-group .list[aria-selected="true"] .link {
  color: #fff;
}

.gc__keyword-group .list[aria-selected="true"] .link {
  background-color: #8452c7;
}

.gc__keyword-group .link {
  display: block;
  position: relative;
  height: 100%;
  padding: 2px 14px;
  border-radius: 20px;
  font-size: 13px;
  line-height: 30px;
  color: #fff;
  background-color: #2f2f2f;
}

/* ----------------------------------------- */
/* screenshot */
/* ----------------------------------------- */
.gc__screenshot {
  overflow-x: visible;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.gc__screenshot .gc__screenshot-slider {
  position: relative;
}

.gc__screenshot .gc__screenshot-thumb .screenshot {
  display: inline-block;
  height: 170px;
  vertical-align: top;
  border-radius: 12px;
  margin-right: 10px;
}

.gc__screenshot .gc__screenshot-thumb .screenshot:first-child {
  margin-left: 22px;
}

.gc__screenshot .gc__screenshot-thumb .screenshot:last-child {
  margin-right: 22px;
}

/* ----------------------------------------- */
/* desc */
/* ----------------------------------------- */
.gc__desc-set .desc {
  color: #fff;
}

.gc__desc {
  overflow: hidden;
}

.gc__desc .gc__desc-set {
  padding: 23px 25px;
  font-size: 13px;
}

.gc__desc .gc__desc-ul li {
  display: inline-block;
  min-width: 100%;
  text-align: left;
}
